
#Required installations :

pip install django
pip install django-filter
pip install django-phonenumber-field[phonenumberslite]
pip install djangorestframework
pip install djangorestframework-simplejwt
pip install pillow
pip install django-cors-headers
